{% extends 'base.html.twig' %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}Contact Add{% endblock %}

{% block body %}
    <h2>Contact Add</h2>
    {# {{ form(contactForm) }} #}

    {{ form_start(contactForm, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(contactForm.firstName) }}
        {{ form_widget(contactForm.firstName) }}
    </div>
    {{ form_row(contactForm.lastName) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.phone) }}
    {{ form_row(contactForm.birthdate) }}
    <div>
        <button class="btn btn-primary">Add</button>
    </div>
    {{ form_end(contactForm) }}
    {#
    <form>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    #}
{% endblock %}
