{% extends 'base.html.twig' %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}Contact Update{% endblock %}

{% block body %}
    <h2>Contact Update</h2>
    {{ form_start(contactForm, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(contactForm.firstName) }}
    {{ form_row(contactForm.lastName) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.phone) }}
    {{ form_row(contactForm.birthdate) }}
    {{ form_row(contactForm.company) }}
    {{ form_row(contactForm.groups) }}
    {{ form_row(contactForm.superior) }}
    <div>
        <button class="btn btn-primary">Update</button>
    </div>
    {{ form_end(contactForm) }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('select2-4.0.13/dist/css/select2.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('select2-4.0.13/dist/js/select2.js') }}"></script>
    <script>
        $('select[multiple]').select2();
    </script>
{% endblock %}
